:root {
	font-family: sans-serif;
}
#icon-box {
	--width: 9;
	--height: 6;
	display: grid;
	width: 50vw;
	height: calc(50vw * var(--height) / var(--width));
	grid-template: repeat(var(--height), 1fr) / repeat(var(--width), 1fr);
}
#icon-box a {
	margin: 3%;
	/* border: 3px solid green; */
	grid-area: var(--y) / var(--x) / span var(--size) / span var(--size);
}
#icon-box a img {
	transform: scale(1.0);
	transition: transform 500ms;
}
#icon-box a img:hover {
	transform: scale(1.1);
}
.size-4 {
	--size: span 4;
}
#container {
	margin: 20px;
	padding: 15px;
	background-color: #002;
	color: whitesmoke;
	font-size: 20px;
	border: ridge 10px;
	animation: border-animation 20s infinite alternate linear;
}
body {
	margin-top: 0px;
	background-image: url("starfield.png");
	background-repeat: no-repeat;
	background-color: #000;
	height: 100%;
	overflow-y: scroll;
}
html {
	height: 100%;
	overflow: hidden;
}
code {
	background-color: #CC8;
}
h1 {
	color: #CCF;
}
h2 {
	color: #F93;
}
h3 {
	color: #E02;
}
span h1 {
	color: #000 !important;
}
span h2 {
	color: #000 !important;
}
span h3 {
	color: #000 !important;
}
#samplewebpage {
	padding: 15px;
	background-color: #DD8;
	width: 430px;
	font-family: monospace;
}
#samplewebpage p {
	margin: 2px;
}
@keyframes border-animation {
	0% {
		border-color: hsl(30,90%,40%);
	}
	50% {
		border-color: hsl(110,90%,50%);
	}
	100% {
		border-color: hsl(220,90%,50%);
	}
}