:root {
	font-family: sans-serif;
}
#icon-box {
	display: grid;
	width: 50vw;
	height: calc(50vw * var(--height) / var(--width));
	grid-template: repeat(var(--height), 1fr) / repeat(var(--width), 1fr);
	gap: 5px;
	background-color: #FFFFFF15;
	border-radius: 5px;
}
#icon-box div {
	grid-area: var(--y) / var(--x) / span var(--size) / span var(--size);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 4px;
	overflow: hidden;

	box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
	transition: all 500ms;
}
#icon-box div:hover {
	transform: scale(calc(1 + 0.3 / (0.7 * var(--size)))) translateY(-5px);
	box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
}
#icon-box div a {
	width: 100%; height: 100%;
	display: block;
}
#header-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
}
#container {
	margin: 20px;
	padding: 15px;
	background-color: #0039;
	color: whitesmoke;
	font-size: 20px;
	border: ridge 10px;
	animation: border-animation 20s infinite alternate linear;
}
@media screen and (max-width: 600px) {
	#container {
		margin: 0px;
		padding: 15px 1.5vw;
		border-width: 2vw;
		background-color: #0046;
	}
	#icon-box {
		width: 93vw;
		height: calc(93vw * var(--height) / var(--width));
	}
}
body {
	margin: 0px;
	background-image: url("starfield.png");
	background-repeat: no-repeat;
	background-color: #000;
	height: 100%;
	overflow-y: scroll;
}
html {
	height: 100%;
	overflow: hidden;
}
h1 {
	color: #CCF;
}
h2 {
	color: #F93;
}
h3 {
	color: #E02;
}
a {
	color: rgb(0, 196, 0);
}
a:hover {
	color: rgb(0, 236, 0);
}
@keyframes border-animation {
	0% {
		border-color: hsl(30,90%,40%);
	}
	50% {
		border-color: hsl(110,90%,50%);
	}
	100% {
		border-color: hsl(220,90%,50%);
	}
}