:root {
	font-family: sans-serif;
}
#icon-box {
	--width: 9;
	--height: 6;
	display: grid;
	width: 50vw;
	height: calc(50vw * var(--height) / var(--width));
	grid-template: repeat(var(--height), 1fr) / repeat(var(--width), 1fr);
	background-color: #FFFFFF15;
	border-radius: 5px;
}
#icon-box a {
	padding: 4px;
	display: flex;
	grid-area: var(--y) / var(--x) / span var(--size) / span var(--size);
}
#icon-box a img {
	transform: scale(1.0);
	transition: transform 500ms;
}
#icon-box a img:hover {
	transform: scale(1.1) translateY(-3px);
}
#header-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
}
#container {
	margin: 20px;
	padding: 15px;
	background-color: #002;
	color: whitesmoke;
	font-size: 20px;
	border: ridge 10px;
	animation: border-animation 20s infinite alternate linear;
}
body {
	margin-top: 0px;
	background-image: url("starfield.png");
	background-repeat: no-repeat;
	background-color: #000;
	height: 100%;
	overflow-y: scroll;
}
html {
	height: 100%;
	overflow: hidden;
}
h1 {
	color: #CCF;
}
h2 {
	color: #F93;
}
h3 {
	color: #E02;
}
a {
	color: rgb(0, 196, 0);
}
a:hover {
	color: rgb(0, 236, 0);
}
@keyframes border-animation {
	0% {
		border-color: hsl(30,90%,40%);
	}
	50% {
		border-color: hsl(110,90%,50%);
	}
	100% {
		border-color: hsl(220,90%,50%);
	}
}